certifi==2020.4.5.1
Django==2.2.10
django-ckeditor==5.9.0
django-countries==6.1.2
django-crispy-forms==1.8.1
django-debug-toolbar==2.1
django-extensions==2.1.6
django-js-asset==1.2.2
django-suit==0.2.26
entrypoints==0.3
flake8==3.7.9
mccabe==0.6.1
mysql-connector-python==8.0.21
Pillow==7.0.0
pipenv==2018.11.26
pycodestyle==2.5.0
pyflakes==2.1.1
PyMySQL==0.10.1
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
virtualenv==16.7.9
virtualenv-clone==0.5.4
